<div class="p-4">
<table class="min-w-full bg-white border border-gray-300 overflow-x: auto">
  <thead>
  <tr>
    <th class="tb-header">Firstname</th>
    <th class="tb-header">Lastname</th>
    <th class="tb-header">Email</th>
    <th class="tb-header">Serial Number</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let entry of dataService.drawEntries">
    <td class="tb-entry">{{ entry.firstName }}</td>
    <td class="tb-entry">{{ entry.lastName }}</td>
    <td class="tb-entry">{{ entry.emailAddress }}</td>
    <td class="tb-entry">{{ entry.serialNumber }}</td>
  </tr>
  </tbody>
</table>

<div class="flex w-full justify-center mt-4">
  <!-- Previous Button -->
  <a (click)=PreviousPage() class="btn btn-amber mr-2 ">
    Prev
  </a>

  <!-- Next Button -->
  <a (click)=NextPage() class="btn btn-amber">
    Next
  </a>
</div>

</div>
